extends ./layout/index
block ContenidoPrincipal
    main.container.mt-5 
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            div(class="col-md-7")
              h1=pagina
              blockquote quis tortor. Nam luctus ac odio ac facilisis. Vestibulum vulputate commodo lacinia. Sed id erat eget dui ultricies vestibulum pellentesque sit amet dolor. Quisque ut posuere nisi, vitae luctus diam. Aliquam sit amet augue in velit sodales ultrices. Suspendisse pellentesque ligula sit amet ipsum fermentum, vitae semper justo cursus. Aliquam id venenatis magna, a maximus ante. In hac habitasse platea dictumst. Donec odio velit, mollis a libero malesuada, facilisis elementum libero.
              p non volutpat efficitur. Aliquam libero turpis, eleifend quis cursus eget, dapibus quis magna. Curabitur elementum diam sit amet orci porttitor, sit amet scelerisque nisi rhoncus. Curabitur gravida quam vel posuere aliquet. Integer sit amet tincidunt eros, at iaculis velit. Aliquam vitae porttitor velit. Phasellus at tellus vel sem ultricies tincidunt ut quis augue. Maecenas vehicula auctor quam, sed luctus augue ultricies at. Donec bibendum velit orci, non rhoncus justo consequat eu. Nam ac ante sed odio volutpat volutpat eget eget augue.
              p tempus odio cquet. Pellentesque tellus nisl, facilisis nec tellus eget, scelerisque scelerisque elit. Vestibulum tortor sapien, laoreet vel finibus id, pharetra in massa. In id augue id sapien sagittis egestas quis et lacus. Sed id sapien porta, efficitur libero a, sodales eros. Sed fringilla vehicula placerat. Morbi facilisis vel mauris eget vehicula. Cras facilisis nunc at sem sagittis, nec faucibus massa laoreet. Sed mattis varius dictum. Aenean finibus mauris non metus rhoncus condimentum. Suspendisse at dui nulla.

    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")
                div(class="col-md-4") 
                    img(src="img/icono_seguridad.svg", alt="InconoSeguridad" class="img-fluid mb-4")
                    h2(class="mb-4") Seguridad
                    p id sapien sagittis egestas quis et lacus. Sed id sapien porta, efficitur libero a, sodales eros. Sed fringilla vehicula placerat. Morbi facilisis vel mauris eget vehicula. Cras facilisis nunc at sem sagittis, nec faucibus massa laoreet. Sed mattis varius dictum. Aenean finibus mauris non metus rhoncus condimentum. Suspendisse at dui nulla.
                div(class="col-md-4") 
                    img(src="img/icono_destinos.svg", alt="InconoDestinos" class="img-fluid mb-4")
                    h2(class="mb-4") Mejores Destinos
                    p id sapien sagittis egestas quis et lacus. Sed id sapien porta, efficitur libero a, sodales eros. Sed fringilla vehicula placerat. Morbi facilisis vel mauris eget vehicula. Cras facilisis nunc at sem sagittis, nec faucibus massa laoreet. Sed mattis varius dictum. Aenean finibus mauris non metus rhoncus condimentum. Suspendisse at dui nulla.
                div(class="col-md-4") 
                    img(src="img/icono_precios.svg", alt="InconoPrecios" class="img-fluid mb-4")
                    h2(class="mb-4") Los Mejores Precios
                    p id sapien sagittis egestas quis et lacus. Sed id sapien porta, efficitur libero a, sodales eros. Sed fringilla vehicula placerat. Morbi facilisis vel mauris eget vehicula. Cras facilisis nunc at sem sagittis, nec faucibus massa laoreet. Sed mattis varius dictum. Aenean finibus mauris non metus rhoncus condimentum. Suspendisse at dui nulla.


